*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #222121;
}

.header{
    background-color: #f5f5f5;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #964A96;
}
.header span{
    padding-left: 15px;
}

/* ===================== section-munber 01 ================ */

.container{
    height: 565px;
    padding: 20px;
    background-image: url(../assets/nietmann_fotografia_paraty90.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.Card{
    height: 270px;
    width: 400px;
    background-color: #222121BB;
    border-radius: 0px 20px 20px 20px ;
    box-sizing: border-box;
    margin-right: 10px;
}
.titulo{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: #f5f5f5;
}
.cardContainer ul{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.cardContainer li{
    margin: 5px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 50%;
    padding: 5px;
    background-color: #964A96BB;
    cursor: pointer;
}
.cardContainer li:hover{
        background-color: #f5f5f5;
}

.Card-02{
    height: 270px;
    width: 400px;
    background-color: #46244CBB;
    border-radius: 20px 20px 0px 20px ;
    box-sizing: border-box;
    margin-left: 10px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.cardInfo h3{
    text-align: center;
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: normal;
    
}
.cardInfo p{
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
}

/* ============================= container-02 ============================== */

.container-02{
    height: 550px;
    background-color: pink;
    display: flex;
    justify-content: center ;
    margin-bottom: 50px;
}

.Card-03 img{
    height: 550px;
    padding-right: 80px;
}
.cardConteúdo{
    height: 400px;
    width: 350px;
    padding: 15px;
    margin-top: 75px;
    background-color: #f5f5f5BB;
    border-radius: 0% 5% 50% 0%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px #421042;
}
.cardConteúdo h2{
    text-align: center;
    padding-bottom: 25px;
    font-size: 35px;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #582a58;
}
.cardConteúdo p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 14px;
    font-size: 18px;
    color:#421042;
}
.but{
    display: flex;
    justify-content: center;
   
}
.cardConteúdo button{
    width: 70%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 25px;
    background-image: linear-gradient(to left, #582a58, #f583f5, #8b6d8b );
    border-radius: 30px;    
}

/* ==================================titleSorteio========================== */

.titleSorteio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageSorteio img{
    height: 200px;
}
.title-02 p{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #964A96;
    text-transform: uppercase;
}

/* ===================================inputAdicionar========================================= */

.inputAdicionar{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 20px;
    padding: 0px;
    box-sizing: border-box;
}
.inputAdicionar input{
    outline: none;
    border: none;
    height: 50px;
    width: 55%;
    border-radius: 50px 0px 0px 50px;
    padding-left: 10px;
    background-color: #f5f5f5;
}
.inputAdicionar button{
    border: none;
    outline: none;
    height: 50px;
    background-color: #f5f5f5BB;
    width: 80px;
    border-radius: 0px 50px 50px 0px;
    font-size: 15px;
    box-sizing: border-box;

}
.inputAdicionar button:hover{
    background-color: #8b6d8b;
    color: #f5f5f5;
    transition: background,color ease 2.0s;
}

.nomesParticipantes{
    height: 820px;
    max-width: 1200px;
    margin: auto;
    border-radius: 64px;
    background-image: url(../assets/mary.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}